@page
@model Flora.Pages.faqsModel
@{
	ViewData["Title"] = "FAQs";
}

<main>
    <h1>Frequently Asked Questions (FAQs)</h1>
    <section class="Text-section">
        <div class="item">
        <h2>How do I place an order?</h2>
        <p>Simply browse our products, add them to your cart, and proceed to checkout.</p>
        </div>

        <div class="item">
        <h2>What payment methods do you accept?</h2>
        <p>We accept credit cards, debit cards, and online payment systems.</p>
        </div>

        <div class="item">
        <h2>How long does delivery take?</h2>
        <p>Delivery typically takes 2-5 business days, depending on your location.</p>
        </div>
    </section>
</main>
