@page
@model Flora.Pages.offerModel
@{
    ViewData["Title"] = "Offers";
}
<main>
    <h1>Our Products</h1>
    <section class="product-list">
        <div class="product">
            <img src="Assets\RoyalPurpleHydrangeaBouquet.jpg" alt="Royal purple">
            <h2>Royal purble</h2>
            <p>Beautiful arrangement of fresh purble royal.</p>
            <p>Price: Was $29.99 <br>
            <p class="red">Now  $19.99</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="Assets\LilyBouquet.jpg" alt="Lily">
            <h2>Lily Rose</h2>
            <p>Elegant arrangement of fresh Lily Roses to add charm and sophistication to any occasion.</p>
            <p>
                Price: Was $39.99 <br>
                <span class="red">Now $25.99</span>
            </p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </section>
</main>
